# ignore backups
*~

# ignore OSX cache files
.DS_Store

# server files
.htaccess
*.log

# wordpress 
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# phpmyadmin
phpmyadmin/

# Jose: other pages i'm serving that are unrelated to this project
jh/

# ignore OSX _notes directory
_notes

# plugins directory
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/admin00
