# ignore backups
*~

# ignore OSX cache files
._.DS_Store
/**/._.DS_Store
.DS_Store

# server files
.htaccess
*.log

# wordpress 
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# ignore OSX _notes directory
_notes

# plugins directory
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/DiveCatalina.net-Admin
!wp-content/plugins/README.md

# themes directory
wp-content/themes/*
!wp-content/themes/index.php
!wp-content/themes/DiveCatalina.net
!wp-content/themes/README.md

# uploads should go through media library
wp-content/uploads

# ignore w3cache files
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php
wp-content/w3-total-cache-config.php
wp-content/w3tc/
