# ignore backups
*~

# ignore OSX cache files
._.DS_Store
/**/._.DS_Store
.DS_Store

# server files
.htaccess
*.log

# wordpress 
wp-*.php
xmlrpc.php
wp-admin/
wp-includes/
sitemap.xml
sitemap.xml.gz
readme.html
license.txt

# ignore OSX _notes directory
_notes

# plugins directory
wp-content/plugins/*
!wp-content/plugins/index.php
!wp-content/plugins/DiveCatalina.net-Admin

# themes directory
wp-content/themes/*
!wp-content/themes/index.php
!wp-content/themes/DiveCatalina.net

# uploads should go through media library
wp-content/uploads
