@media screen and (max-width: 478px) 	{
	.alignleft {float: none;}
	.alignright {float: none;}

	h1 { text-align: center;}
	h1 a { font-size: 36px; padding: 1px;}
	h2 { font-size: 16px; padding: 1px; text-align: center;}
	body { font-size: 13px; }

	/* Give your nav elements that "blockie" look for mobile devices */
	nav a { width: 90%; border: solid 1px #cbcbcb; text-align: center; margin: 1px;}
	nav a:hover { background: #cbcbcb; }

	#main-content { padding: 10px;}
	#sub-content { padding: 10px;}

	.about-sig {font-size: 18px;}
	
	#gallery-container-container {
		height: 100px;
	}
	#gallery-container {
		width: 100%;
		height: 100px;
	}
	#gallery {
		float:none;
		margin: 10px auto;
   		position: relative;
   		width: 95%;  
    	height: 100px;
	}
	#gallery img {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: auto;
    	margin-right: auto;
    	height: 100px;
	}
	#next {
		display: none;
	}
	#thumbs{  
    	display: none;  
	}
}

@media screen and (min-width: 479px) and (max-width: 740px) {
	#gallery-container-container {
		height: 192px;
	}

	#gallery-container {
		height: 192px;
	}
	#gallery {
		height: 192px;
	}
	#gallery img {
		height: 192px;
	}
	#thumbs {
		height: 192px;
	}
	#thumbs img {
		height: 64px;
	}
	#next {
		top: 149px;
	}
}