@media screen and (max-width: 478px) 	{
	.alignleft {float: none;}
	.alignright {float: none;}

	h1 { text-align: center;}
	h1 a { font-size: 36px; padding: 1px;}
	h2 { font-size: 16px; padding: 1px; text-align: center;}
	body { font-size: 13px; }


	#main-content { padding: 10px;}
	#sub-content { padding: 10px;}

	.about-sig {font-size: 18px;}
	
	#gallery-container-container {
		height: 100px;
	}
	#gallery-container {
		width: 100%;
		height: 100px;
	}
	#gallery {
		float:none;
		margin: 10px auto;
   		position: relative;
   		width: 95%;  
    	height: 100px;
	}
	#gallery img {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: auto;
    	margin-right: auto;
    	height: 100px;
	}
	#next {
		display: none;
	}
	#thumbs{  
    	display: none;  
	}
}

@media screen and (min-width: 479px){
	#gallery-container-container {
		height: 192px;
	}

	#gallery-container {
		height: 192px;
	}
	#gallery {
		height: 192px;
	}
	#gallery img {
		height: 192px;
	}
	#thumbs {
		height: 192px;
	}
	#thumbs img {
		height: 64px;
	}
	#next {
		top: 149px;
	}
	
	
	/*nav*/
	#topNav { 
	display:block; 
	margin:5px; 
	auto 20px; 
	border:1px 
	solid #222; 
	position:relative; 
	z-index: 9999;
	background-color:#000; 
	font-size:12px;
	font-family: 'McLaren', cursive;

	}
	#topNav ul { 
	padding:0; margin:0; 
	}
	#topNav a:hover { 
	color:#08cae5
	}

	#topNav li { 
	position:relative; 
	float:left; 
	list-style-type:none;
	}
	#topNav ul:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
	}
	#topNav li a { 
	display:block; 
	padding:11px 15px; 
	border-left:1px solid #999; 
	border-right:1px solid #222; 
	color:#0086AB;
	text-decoration:none; 
	}
	#topNav li a:focus { 
	outline:none; 
	text-decoration:underline; 
	}
	#topNav li:first-child a {
	 border-left:none; 
	}
	#topNav li.last a { 
	border-right:none; 
	}
	#topNav a span { 
	display:block; 
	float:right; 
	margin-left:5px;
 	}
	#topNav ul ul {
	 display:none; 
	 width:100%; 
	 position:absolute; 
	 left:0; 
	 background:#000; }
	#topNav ul ul li { 
	float:none; 
	
	}
	#topNav ul ul a { 
	padding:5px 10px; 
	border-left:none; 
	border-right:none; 
	font-size:14px; 
	}
	#topNav ul ul a:hover { 
	color:#08cae5
	}


/* CSS3 for nav */
.borderradius #topNav { 
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px; 
}
.cssgradients #topNav { 
	background-image:-moz-linear-gradient(0% 22px 90deg, #222, #999); 
	background-image:-webkit-gradient(linear, 0% 0%, 0% 70%, from(#999), to(#000)); 
}
.boxshadow.rgba #topNav { 
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,.75); 
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.75);
	box-shadow:2px 2px 2px rgba(0,0,0,.75); 
}
.cssgradients #topNav li:hover { 
	background-image:-moz-linear-gradient(0% 100px 90deg, #999, #222); 
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#555)); 
}
.borderradius #topNav ul ul { 
	-moz-border-radius-bottomleft:4px; 
	-moz-border-radius-bottomright:4px; 
	-webkit-border-bottom-left-radius:4px; 
	-webkit-border-bottom-right-radius:4px; 
	border-bottom-left-radius:4px; border-bottom-right-radius:4px; 
}
.boxshadow.rgba #topNav ul ul { 
	background-color:rgba(0,0,0,0.8); 
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.8); 
	box-shadow:2px 2px 2px rgba(0,0,0,.8); }
.rgba #topNav ul ul li { 
	border-left:1px solid rgba(0,0,0,0.1); 
	border-right:1px solid rgba(0,0,0,0.1); 
}
.rgba #topNav ul ul a:hover { 
	background-color:rgba(85,85,85,.9); 
}
.borderradius.rgba #topNav ul ul li.last { 
	border-left:1px solid rgba(0,0,0,0.1); 
	border-bottom:1px solid rgba(0,0,0,0.1); 
	-moz-border-radius-bottomleft:4px; 
	-moz-border-radius-bottomright:4px; 
	-webkit-border-bottom-left-radius:4px; 
	-webkit-border-bottom-right-radius:4px; 
	border-bottom-left-radius:4px; border-bottom-right-radius:4px; 
}
.csstransforms ul a span { 
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg); 
}
}