/* 
Project Name: Dive Catalina.net
Author: Team Grep
*/

a 			{ text-decoration: none;}
a: hover 	{ text-decoration: underline;}

.clear	{clear: both;}
.alignleft 	{float: left;}
.alignright	{float: right;}

/************ WEB FONTS ************/
@font-face {
	font-family: 'ReklameScript-RegularDEMO';
	src: url('webfonts/249B5B_0_0.eot');src: 
		 url('webfonts/249B5B_0_0.eot?#iefix') format('embedded-opentype'),
		 url('webfonts/249B5B_0_0.woff') format('woff'),
		 url('webfonts/249B5B_0_0.ttf') format('truetype');
		 font-weight: normal;
		 font-style: normal;
}
/************ MAIN **********/
body {
	background: #000;
	font-family: 'Numans', sans-serif;
	font-size: 16px;
	color: #414141;
}

header { padding: 10px 0px;}

h1 a {
	text-decoration: none; 
	font-family: 'Syncopate', sans-serif;
	font-size: 48px;
	color: #0086ab;
	padding: 10px;
}

h1 a:hover { color: #000;}

h2 {
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
	padding: 10px;
}

h3 {
	font-family: 'McLaren', cursive;
	font-size: 24px;
	color: #0086ab;
	padding-bottom: 20px;
	padding-top: 5px;
}
h4 {
	font-family: 'Short Stack', cursive;
	font-size: 20px;
	padding-top: 10px;
}

/*navigation*/
#topNav ul {
    list-style: none;
    background: #1c1c1c;
    padding-left:2px;
	padding-right:5px;
}
nav ul ul {
	 display:none; 
	 width:100%; 
	 position:absolute; 
	 left:0; 
	 background:#000; 
	 padding-left:2px;
	 padding-right:5px;
	 }
nav ul ul li { 
	float:none; 
	
}
nav ul ul a { 
	border-left:none; 
	border-right:none; 
	font-size:14px; 
}
nav ul ul a:hover { 
	color:#08cae5
}
nav li a { 
	display:block; 
	padding:5px 2px; 
	border-left:1px solid #999; 
	border-right:1px solid #222; 
	color:#0086AB;
	text-decoration:none; 
}
nav li a:focus { 
	outline:none; 
	text-decoration:underline; 
}
nav li:first-child a {
	 border-left:none; 
}
nav li.last a { 
	border-right:none; 
}
nav a span { 
	display:block; 
	float:right; 
	margin-left:2px;
 }
#topNav li a {
    display: block;
	padding-right:35px;
    color: #0086AB;
    text-decoration: none;
    font-weight: bold;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
#topNav li:last-child a {
    border-bottom: none;
}
#topNav li a:hover,
#topNav li a:focus {
    color: #08cae5;
    background: #ccc;
}

@media only screen and (min-width: 900px) {

}

/*footer*/
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;
	height: 50px;
	padding: 5px;
}

#container {
	background: #cacaca;
	margin: 10px auto;
	max-width: 980px;
	min-height: 900px;
	width: 90%;
	padding: 10px 0 0 0;
	z-index: 500;
	position: relative;

}

img {  
    display: block;
    max-width: 100%;
	height: auto;
}

#gallery-container {
	margin: auto;
	position: relative;
	width: 80%;
	height: 256px;
}

#gallery, #thumbs, #next {
    float: left;  
}  
#gallery{  
    width: 80%;
    height: 256px;
}  
#gallery img{  
    height: 256px;
    float: left;
    width: 100%;
}  
#thumbs{  
    width: 20%;
    height: 256px;  
    overflow: hidden;  
}
#thumbs img {
	height: 85px;
	float: left;
	width: 100%;
}  
#next{
	z-index: 9999;
    display: block;  
    width: 47px;  
    height: 43px;  
    background: url(../images/arrow.png);  
    position: absolute;
    top: 215px;
    right: 0px;
}  
#next:hover{  
    background: url(../images/arrowmo.png);  
}  

#main-content { 
	padding-top: 10px; 
	padding-left:50px;
	padding-right: 70px;
	text-align: justify;
}
#sub-content { 
	padding: 50px; 
	text-align: justify;
}


ul {
	padding: 0px 50px;
}
#bullets{
	padding: 50px 50px;
	
}
/**** TEST IMAGES *****/
.imgleft{
	float:left;
	padding-right:5px;
	height:200px;
	width:200px;
}
.imgright{
	float:right;
	padding-left:10px;
}
.imgcenter{
	float:center;
	padding-left:260px;
}

/************ ABOUT US **********/
.about-sig {
	font-size: 24px;
	font-style: italic;
}
/*******BOAT DIVES***************/
#items {
	
	width: 20;
	height: 420px;
	margin: 10px 10px;
	padding: 10px;
	float:left;
	
}
#cost {
	float: left;
	width: 20px;
	height: 420px;
	margin: 10px 10px;
	padding: 5px;
}

.staff-img {
	height: 150px;
	width: 120px;
	float: left;
	background: #cbcbcb;
	margin: 10px;
}

























