/* 
Project Name: Dive Catalina.net
Author: Team Grep
*/

a 			{ text-decoration: none; color: #2098DA;}
a:hover 	{ color: #436fa2;}

.clear	{clear: both;}
.alignleft 	{float: left; margin-right: 10px;}
.alignright	{float: right; margin-left: 10px;}
.img-center {display: block; margin: 50px auto;}

/************ WEB FONTS ************/
@font-face{ 
	font-family: 'nexa_boldregular';
    src: url('nexa_boldregular/Nexa_Free_Bold-webfont.eot');
    src: url('nexa_boldregular/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_boldregular/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('nexa_boldregular/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('nexa_boldregular/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_light/Nexa_Free_Light-webfont.eot');
    src: url('nexa_light/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_light/Nexa_Free_Light-webfont.woff') format('woff'),
         url('nexa_light/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('nexa_light/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'vanbergregular';
    src: url('vanberg/Vanberg-webfont.eot');
    src: url('vanberg/Vanberg-webfont.eot?#iefix') format('embedded-opentype'),
         url('vanberg/Vanberg-webfont.woff') format('woff'),
         url('vanberg/Vanberg-webfont.ttf') format('truetype'),
         url('vanberg/Vanberg-webfont.svg#vanbergregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sanchezregular';
    src: url('sanchez/Sanchez-Regular-webfont.eot');
    src: url('sanchez/Sanchez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sanchez/Sanchez-Regular-webfont.woff') format('woff'),
         url('sanchez/Sanchez-Regular-webfont.ttf') format('truetype'),
         url('sanchez/Sanchez-Regular-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/************ MAIN ************/
body {
	background: #ebebeb;
	font-family: 'sanchezregular', Garamond, serif;
	font-size: 16px;
	color: #414141;
}

#container {
	margin: 10px auto;
	max-width: 980px;
	width: 90%;
	padding 10px 0;
}

h1 a {
	text-decoration: none; 
	font-family: 'nexa_boldregular', Arial, sans-serif;
	font-size: 48px;
	color: #436fa2;
	padding: 10px;
}

h1 a:hover { color: #000;}

h2 {
	font-family: 'vanbergregular', Arial, sans-serif;
	font-size: 36px;
	padding: 10px;
}

h3 {
	font-family: 'nexa_boldregular', Arial, sans-serif;
	font-size: 24px;
	color: #436fa2;
	padding-bottom: 10px;
}

header h1 { float: left;}
header h2 { float: right;}

nav { 
	border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #4d4d4d, #000000);
	background-image: -ms-linear-gradient(top, #4d4d4d, #000000);
	background-image: -o-linear-gradient(top, #4d4d4d, #000000);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#4d4d4d), to(#000000));
	background-image: -webkit-linear-gradient(top, #4d4d4d, #000000);
	background-image: linear-gradient(top, #4d4d4d, #000000);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
	margin: 20px 0;
	padding: 10px;
}

nav a {
	font-family: 'nexa_boldregular', Arial, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #2098DA;	
	display: block;
	float: left;
	padding: 0px 10px;
}

nav a:hover {
	color: #fff;
}

#slideshow { 
    margin: 10px auto;
    position: relative;
    max-width: 755px;
    height: 256px;
}

#slideshow img {
    position: absolute;
    max-width: 100%;
    height: auto;
}

#main-content { padding: 50px; text-align: justify;}
#sub-content { padding: 50px; text-align: justify;}

ul {
	padding: 0px 50px;
}

footer { padding: 5px; text-align: center; font-size: 10px;}

/************ ABOUT US ************/
.about-sig {
	font-size: 24px;
	font-style: italic;
}

#about-img { float:left; margin-right: 10px;}

.staff-img {
	height: 150px;
	width: 120px;
	float: left;
	background: #cbcbcb;
	margin: 10px;
}

/************ SERVICES ************/

#introductory-dives, #guided-dives, #boat-dives {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	
	float: left;
	width: 271px;
	height: 420px;
	margin: 20px 10px;
	padding: 10px;
}

#introductory-dives h3, #guided-dives h3, #boat-dives h3 {
    text-align: center;
	border-bottom: solid 5px #436fa2;
	margin-bottom: 10px;
}

#introductory-dives a, #guided-dives a, #boat-dives a {
	float: right;
}

#dive-classes {padding: 10px;}

#classes-offered {
	/*
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	width: 920px;
	height: 420px;
	margin: 10px 0;
    padding: 5px;
}

#scuba-diver, #advanced, #rescue, #specialty-classes, #naui-instructor, #referral-dives {
	float:left;
    background: #e2e2e2;
	width: 270px;
	margin: 20px 5px;
	border: dashed 2px #cbcbcb;
	padding: 10px;
}

#scuba-diver h3, #advanced h3, #rescue h3, #specialty-classes h3, #naui-instructor h3, #referral-dives h3 {
	border-bottom: solid 5px #436fa2;
	margin-bottom: 10px;
}

#scuba-diver a, #advanced a, #rescue a, #specialty-classes a, #naui-instructor a, #referral-dives a  {
	float: right;
}

#rental {
	padding: 20px;
}

#rental ul {
	padding: 40px;
}














