/* 
Project Name: Dive Catalina.net
Author: Team Grep
Mock 4
*/

a 		{ text-decoration: none; color: #2098DA;}
a:hover 	{ color: #436fa2;}

.clear		{clear: both;}
.alignleft 	{float: left; margin-right: 10px;}
.alignright	{float: right; margin-left: 10px;}
.img-center	{display: block; margin: 0 auto;}
.center 	{text-align: center;}

/************ WEB FONTS ************/
@font-face{ 
	font-family: 'nexa-bold-regular';
    src: url('nexa-bold-regular/Nexa_Free_Bold-webfont.eot');
    src: url('nexa-bold-regular/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa-bold-regular/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('nexa-bold-regular/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('nexa-bold-regular/Nexa_Free_Bold-webfont.svg#nexa-bold-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa-light-regular';
    src: url('nexa_light/Nexa_Free_Light-webfont.eot');
    src: url('nexa_light/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_light/Nexa_Free_Light-webfont.woff') format('woff'),
         url('nexa_light/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('nexa_light/Nexa_Free_Light-webfont.svg#nexa-light-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'graphein-pro-italic';
    src: url('graphein-pro-italic/GrapheinPro-Italic-webfont.eot');
    src: url('graphein-pro-italic/GrapheinPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('graphein-pro-italic/GrapheinPro-Italic-webfont.woff') format('woff'),
         url('graphein-pro-italic/GrapheinPro-Italic-webfont.ttf') format('truetype'),
         url('graphein-pro-italic/GrapheinPro-Italic-webfont.svg#GrapheinProBookItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'sanchez-regular';
    src: url('sanchez/Sanchez-Regular-webfont.eot');
    src: url('sanchez/Sanchez-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sanchez/Sanchez-Regular-webfont.woff') format('woff'),
         url('sanchez/Sanchez-Regular-webfont.ttf') format('truetype'),
         url('sanchez/Sanchez-Regular-webfont.svg#sanchezregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/************ NAV ************/
.toggleMenu {
    display: none;
    padding: 5px 15px;
    font-family: 'nexa-bold-regular', Arial, sans-serif;
	font-size: 18px;
	color: #0086AB;	
	border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #4d4d4d, #000000);
	background-image: -ms-linear-gradient(top, #4d4d4d, #000000);
	background-image: -o-linear-gradient(top, #4d4d4d, #000000);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#4d4d4d), to(#000000));
	background-image: -webkit-linear-gradient(top, #4d4d4d, #000000);
	background-image: linear-gradient(top, #4d4d4d, #000000);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}

.toggleMenu:hover { color: #fff;}

.nav {
    list-style: none;
     *zoom: 1;
    border: 1px solid #999999;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000');
	/*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#4d4d4d', endColorstr = '#000000')";
	/*Element must have a height (not auto)*/
	/*All filters must be placed together*/
	background-image: -moz-linear-gradient(top, #4d4d4d, #000000);
	background-image: -ms-linear-gradient(top, #4d4d4d, #000000);
	background-image: -o-linear-gradient(top, #4d4d4d, #000000);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#4d4d4d), to(#000000));
	background-image: -webkit-linear-gradient(top, #4d4d4d, #000000);
	background-image: linear-gradient(top, #4d4d4d, #000000);
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	/*Use "background-clip: padding-box" when using rounded corners to avoid the gradient bleeding through the corners*/
	/*--IE9 WILL PLACE THE FILTER ON TOP OF THE ROUNDED CORNERS--*/
}

.nav:before, 
.nav:after {
    content: " "; 
    display: table; 
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    width: 9em;
}

.nav a {
	font-family: 'nexa-bold-regular', Arial, sans-serif;
	font-size: 18px;
	color: #0086AB;	
	padding: 10px 15px;
}

.nav a:hover {
	color: #fff;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
}

.nav > li > .parent {
    background-image: url("../images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li > a {
    display: block;
}

.nav li ul {
    position: absolute;
    left: -9999px;
}

.nav > li.hover > ul {
    left: 0;
}

.nav li li a {
    display: block;
    position: relative;
    z-index:100;
	background: #333333;
	border-bottom: 1px solid #000;
}

/************ MAIN ************/
body {
	background: #cacaca;
	font-family: 'sanchez-regular', Garamond, serif;
	font-size: 16px;
	color: #222222;
}

#container {
	margin: 0 auto;
	max-width: 980px;
	width: 90%;
	padding: 20px 10px;
}

header h1 a { 
	float: left;
	font-family: 'nexa-bold-regular', Arial, sans-serif;
	font-size: 48px;
	color: #436fa2;
}

header h2 { 
	float: right;
	font-family: 'graphein-pro-italic', Arial, sans-serif;
	font-size: 36px;
	padding: 10px;
}

#content h1 {
	font-family: 'nexa-bold-regular', Arial, sans-serif;
	font-size: 24px;
	color: #436fa2;
	padding-bottom: 10px;
}

#slideshow { 
	position: relative;
    margin: 20px auto;
    max-width: 755px;
    height: 256px;
}

#slideshow img {
    position: absolute;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    height: auto;
}

#main-content { padding: 20px 50px; text-align: justify;}
#sub-content { padding: 20px 50px; text-align: justify;}

#content ul {
	padding: 0px 50px;
}

footer { padding: 5px; text-align: center; font-size: 10px;}

/************ ABOUT US ************/
.about-sig {
	font-size: 24px;
	font-style: italic;
}

#about-img { float:left; margin-right: 10px;}

.staff-img {
	height: 150px;
	width: 120px;
	float: left;
	background: #cbcbcb;
	margin: 10px;
}

/************ SERVICES ************/

#dive-services, #dive-classes, #dive-travel {padding-bottom: 20px;}

.section-content { padding: 20px 50px; text-align: justify;}

.services-offered {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #000000;
	-webkit-box-shadow: 0px 0px 5px #000000;
	box-shadow: 0px 0px 5px #000000;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	
	display: inline-block;
	left;
	text-align: left;
	width: 271px;
	height: 450px;
	margin: 20px 5px;
	padding: 10px;
}

.services-offered h1 {
    text-align: center;
	border-bottom: solid 5px #0086AB;
	margin-bottom: 10px;
}

.services-offered a {
	float: right;
}

.classes-offered {
	display: inline-block;
	left;
	text-align: left;
    background: #c2c2c2;
	width: 270px;
	height: 190px;
	margin: 10px;
	border: dashed 2px #aaaaaa;
	padding: 10px;
}

.classes-offered h1 {
	border-bottom: solid 5px #0086AB;
	margin-bottom: 10px;
}

.classes-offered a  {
	float: right;
}

#rental {
	padding: 20px;
}

#rental ul {
	padding: 40px;
}














